* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    font-size: 16px;
}
body {
    background-image: url("../Imagenes/fondo42.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
    box-sizing: border-box;
   
}
img:hover{
    scale: 0.8;
    transition: 1s;
}

.navbar {
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.116);
    width: 100%;
    height: 70px;

}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    color: white;
}
.navbar-nav a {
    color: white;
}
/* Nuevo Inicio*/
.container {
    width: 100%;
}
.row {
    margin-top: 50px;
    
}


.btn {
    background-color: yellow;
}
.btn:hover {
    background-color: turquoise;

}



/*main-inicio*/

.container-fluid-custom {
    margin: 0%;
    padding: 0%;
}

.contenedorInicio-tarjetas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 90%;
    height: 450px;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.589);
    font-size: 14px;
    padding: 0px 50px;
    text-align: justify;
    border-radius: 10%;
    
}
.contenedorInicio-tarjetas:hover {
    scale: 0.8;
    transition: 1s;
}

.tarjetas-inicio {
    text-align: center;
}
.tarjetas-inicio li {
    list-style-type: none;
}
.tarjetas-inicio li:hover {
    color: grey;
}
.tarjetas-inicio img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}



/*main-servicios*/
.contenedor-servicios {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 500px;

    
}
.titulo-servicios {
text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;

    
}


.tarjetas-planes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.589);
}
.tarjetas-planes:hover {
    scale: 0.8;
    transition: 1s;
}
.imagen-planes {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    text-align: center;


}



/*main-portfolio*/

.contenedor-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 550px;
}
.titulo-sobreNostros {
    justify-content: center;
    padding: 0px 200px;
}
.contenedor-portfolio__tarjetas {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 400px;
    width: 300px;
    margin-top: 50px;

}
.contenedor-portfolio__tarjetas img {
    display: flex;
    justify-content:center;
    height: 200px;
    width: 200px;
}

/*main-sobreNosotros*/

.contenedor-sobreNosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;

}


.contenedor-sobreNosotros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
    padding: 0px 20px;
    text-align: center;

}


/*main-contacto*/

.contenedor-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;

}

.form {
    width: 350px;
    height: auto;
    text-align: center;
    padding: 30px;
    

}
    
.form__input {
    width: 100%;
    padding: 7px;
    margin: 7px;
    border-bottom: 3px solid #5dd;
    background-color: rgba(128, 128, 128, 0.5);
}
.form__input-textarea {
    height: 100px;
    width: 100%;
    padding: 7px;
    margin: 7px;
    border-bottom: 3px solid #5dd;
    background-color: rgba(128, 128, 128, 0.507);
}
.form__input-submit{
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    height: 30px;
    width: 370px;
    padding: 7px;
    margin: 7px;
    border-bottom: 3px solid #5dd;
}
.form__input-submit:hover {
    background-color: white;
    color:black;
}

.form-mapa iframe {
    width: 340px;
    border-radius: 10px;
    margin-top: 60px;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.589);
    height: 70px;

}
header img {
    width: 100px;
    height: 50px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
    
}

header a {
    padding: 0px 30px;
    color: white;
}
header a:hover{
    padding: 0px 30px;
    color: grey;
}

.navbar-toggler {
    line-height: 1;
    background-color: rgba(128, 128, 128, 0.294);
    border: 2px solid lightblue;
}
.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.575);
}


 /*Footer*/
 .contenedor-footer {
    background-color: rgba(128, 128, 128, 0.171);
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 120px;
    justify-content: center ;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
}
.footer-imagenes img {
    height: 50px;
    border-radius: 50%;
    padding: 1px 20px;
}

/* Footer Rsponsive*/

@media (max-width:576px) {
    body {
    background-image: url("../Imagenes/fondo42.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
}

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100px;
    }
    .footer-imagenes img {
        height: 40px;
        border-radius: 50%;
        padding: 1px 20px;
    }
}

