

.contenedor-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    .form {
        width: 500px;
        height: auto;
        text-align: center;
        padding: 30px;
        .form__input {
            width: 100%;
            padding: 7px;
            margin: 7px;
            border-bottom: 3px solid #5dd;
            background-color: rgba(128, 128, 128, 0.5);
        }
        .form__input-textarea {
            height: 100px;
            width: 100%;
            padding: 7px;
            margin: 7px;
            border-bottom: 3px solid #5dd;
            background-color: rgba(128, 128, 128, 0.507);
        }
        .form__input-submit{
            background-color: rgba(128, 128, 128, 0.5);
            color: white;
            height: 30px;
            width: 100%;
            padding: 7px;
            margin: 7px;
            border-bottom: 3px solid #5dd;
            &:hover {
                background-color: white;
                color:black;
            }
        }
    }
    .form-mapa iframe {
        width: 100%;
        border-radius: 10px;
        margin-top: 60px;
    }
    
}


    





