
.contenedor-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    .form {
        width: 500px;
        height: auto;
        text-align: center;
        padding: 30px;
        .form__input {
            @include width-padding-margin-border-bottom;
            background-color: $color-secundario;
        }
        .form__input-textarea {
            height: 100px;
            @include width-padding-margin-border-bottom; 
            background-color: $color-secundario;
        }
        .form__input-submit{
            @include width-padding-margin-border-bottom;
            background-color: $color-secundario;
            color: white;
            height: 30px;
            &:hover {
                background-color: $color-terciario;
                color:black;
            }
        }
    }
    .form-mapa iframe {
        width: 100%;
        border-radius: 10px;
        margin-top: 60px;
    }
    
}



    





