
body {
    background-image: url("../imagenes/fondo42.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
    box-sizing: border-box;
    img:hover{
        scale: 0.8;
        transition: 1s;
    }
   
}
